<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Welcome to PAS!</h1>
    <form action="/new" method="GET">
      <a href="/new">Click Here To List A Puppy</a>
    </form>
  </body>
</html>
